import React, {Component} from "react"
import {render} from "react-dom"

class HelloTimepad extends Component {
  render() {
    return
      <div>
          Hello Timepad!
      </div>
  }
}

ReactDOM.render(
  <HelloTimepad />,
  document.getElementById("root")
);